{% extends 'common/wrap.twig' %}

{% block title %}Post list{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <a href="/compose">New post</a>

    <ul>
    {% for post in posts %}
        <li>
            {% include 'partials/post_in_list.twig' with {post: post} only %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
